canvas {
    position: absolute;
    z-index: -1;
}

.ui {
    width: 100vw;
    height: 100vh;

    .document {
        width: inherit;
        height: inherit;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: #fff;

        .map-info {
            display: flex;
            flex-direction: column;
            row-gap: 1.25rem;
            font-size: 2rem;

            .map-info__inputs {
                display: flex;
                flex-direction: column;
                row-gap: 1.25rem;
                font-size: 2rem;

                .input {
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.75rem;
    
                    label {
                        border-top: 3px solid white;
                        border-right: 3px solid white;
                        text-decoration: underline white;
                    }
    
                    input {
                        box-sizing: border-box;
                        outline: none;
                        background-color: rgba(0, 0, 0, 0);
                        border: none;
                        color: white;
                        padding: 0.25rem;
                        font-size: 1.5rem;
                        
                        &[type=text] {
                            border-bottom: 3px solid white;
                            border-left: 3px solid white;
                            padding: 0.1rem;
    
                            &.link-input {
                                text-decoration: underline rgb(118, 118, 118);
                            }
                        }
    
                        &[type=button] {
                            border: 3px solid white;
                        }
                    }
                }
            }

            iframe {
                background-color: gray;
                border: 3px solid white;
            }
        }


        input[type=submit] {
            box-sizing: border-box;
            outline: none;
            background-color: rgba(0, 0, 0, 0);
            color: white;
            padding: 0.25rem;
            font-size: 1.5rem;
            border: 3px solid white;
        }
    }
}