@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

#game {
    position: relative;

    #score {
        position: absolute;
        color: white;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
        font-size: 60px;
        font-family: 'Teko', sans-serif;
        user-select: none;
    }
}